singularity {
    enabled          = true
    autoMounts       = true
    pullTimeout      = '2h'
    cacheDir         = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/work/singularity"
    containerOptions = "--bind /hdd4:/hdd4"
}

process {
    executor      = 'slurm'
    queue         = 'gpu'
    cpus          = 8
    memory        = '32 GB'
    time          = '24h'
    errorStrategy = 'retry'
    maxRetries    = 1

    withName: CALL_VARIANTS_DEEPVARIANT {
        memory = '64 GB'
        time   = '24h'
    }
    withName: CALL_VARIANTS_CLAIR3 {
        time   = '24h'
    }
    withName: CHECK_CONTAINERS {
        time   = '5m'
        memory = '1 GB'
        cpus   = 1
    }
}

params {
    sample        = "HG002"
    reads         = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/data/HG002_subset_quarter.fastq"
    reference     = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/ref/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    model_path    = "/opt/models/hifi"
    outdir        = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/results"

    // local container paths — already pulled
    minimap2_img    = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/work/singularity/staphb-minimap2-2.28.img"
    samtools_img    = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/work/singularity/staphb-samtools-1.21.img"
    clair3_img      = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/work/singularity/hkubal-clair3-latest.img"
    deepvariant_img = "/hdd4/sines/specialtopicsinbioinformatics/luqman.sines/assignment1/work/singularity/google-deepvariant-1.6.1.img"
}
